<h1>HOME</h1>
<%= link_to 'Desktops', controller: 'assets' %><br>
<%= link_to 'Laptops', controller: 'assets' %><br>
<%= link_to 'Smart Phones', controller: 'assets' %><br>
<%= link_to 'Printers', controller: 'assets' %><br>
<%= link_to 'Toner', controller: 'assets' %><br>
<%= link_to 'DTU', controller: 'assets' %><br>
<%= link_to 'Mobile Cart', controller: 'assets' %><br>


