<h1>HOME</h1>
<%= link_to 'Desktop', controller: 'assets' %><br>
<%= link_to 'Laptop', controller: 'laptops' %><br>
<%= link_to 'DTU', controller: 'dtus' %><br>
<%= link_to 'Mobile Cart', controller: 'assets' %><br>
<%= link_to 'Smart Phone', controller: 'assets' %><br>
<%= link_to 'Desk Phone', controller: 'assets' %><br>
<%= link_to 'Printer', controller: 'assets' %><br>
<%= link_to 'Toner', controller: 'assets' %><br>




