<%= form_for @asset do |f| %>

<p>
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
  </p>
 
  <p>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :JSLGTag %>
    <%= f.text_field :JSLGTag %>
  </p>

  <p>
    <%= f.label :servicetag %>
    <%= f.text_field :servicetag %>
  </p>

  <p>
    <%= f.label :serialnumber %>
    <%= f.text_field :serialnumber %>
  </p>

  <p>
    <%= f.label :ostype %>
    <%= f.text_field :ostype %>
  </p>

  <p>
    <%= f.label :hostname %>
    <%= f.text_field :hostname %>
  </p>

  <p>
    <%= f.label :ram %>
    <%= f.text_field :ram %>
  </p>

  <p>
    <%= f.label :hdd %>
    <%= f.text_field :hdd %>
  </p>

  <p>
    <%= f.label :department %>
    <%= f.text_field :department %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </p>

  <p>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </p>

  <p>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>