<%= form_for :asset, url: asset_path(@asset), method: :patch do |f| %>
  <p>
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
  </p>
 
  <p>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :JSLG_Tag %>
    <%= f.text_field :jslgTag %>
  </p>

  <p>
    <%= f.label :service_tag %>
    <%= f.text_field :manufacturerTag %>
  </p>

  <p>
    <%= f.label :serial_number %>
    <%= f.text_field :serialNumber %>
  </p>

  <p>
    <%= f.label :os_type %>
    <%= f.text_field :osType %>
  </p>

  <p>
    <%= f.label :host_name %>
    <%= f.text_field :hostName %>
  </p>

  <p>
    <%= f.label :ram %>
    <%= f.text_field :ram %>
  </p>

  <p>
    <%= f.label :hdd %>
    <%= f.text_field :hdd %>
  </p>

  <p>
    <%= f.label :department %>
    <%= f.text_field :department %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :firstName %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :lastName %>
  </p>

  <p>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', assets_path %>