<p>
  <strong>Manufacturer:</strong>
  <%= @asset.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<p>
  <strong>JSLG Asset Tag:</strong>
  <%= @asset.jslgTag %>
</p>

<p>
  <strong>Service Tag:</strong>
  <%= @asset.manufacturerTag %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @asset.serialNumber %>
</p>

<p>
  <strong>OS Type:</strong>
  <%= @asset.osType %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @asset.hostName %>
</p>

<p>
  <strong>RAM:</strong>
  <%= @asset.ram %>
</p>

<p>
  <strong>HDD Size:</strong>
  <%= @asset.hdd %>
</p>

<p>
  <strong>Department:</strong>
  <%= @asset.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @asset.location %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @asset.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @asset.lastName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @asset.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @asset.notes %>
</p>