<p>
  <strong>Manufacturer:</strong>
  <%= @laptop.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @laptop.model %>
</p>

<p>
  <strong>JSLG Asset Tag:</strong>
  <%= @laptop.jslgTag %>
</p>

<p>
  <strong>Service Tag:</strong>
  <%= @laptop.manufacturerTag %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @laptop.serialNumber %>
</p>

<p>
  <strong>OS Type:</strong>
  <%= @laptop.osType %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @laptop.hostName %>
</p>

<p>
  <strong>RAM:</strong>
  <%= @laptop.ram %>
</p>

<p>
  <strong>HDD Size:</strong>
  <%= @laptop.hdd %>
</p>

<p>
  <strong>Department:</strong>
  <%= @laptop.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @laptop.location %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @laptop.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @laptop.lastName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @laptop.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @laptop.notes %>
</p>


<%= link_to 'Back', laptops_path %>