<p>
  <strong>Manufacturer:</strong>
  <%= @dtu.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @dtu.model %>
</p>


<p>
  <strong>Serial Number:</strong>
  <%= @dtu.serialNumber %>
</p>

<p>
  <strong>JSLG Asset Tag:</strong>
  <%= @dtu.jslgTag %>
</p>

<p>
  <strong>MAC Address:</strong>
  <%= @dtu.macAddress %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @dtu.hostName %>
</p>

<p>
  <strong>Department:</strong>
  <%= @dtu.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dtu.location %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @dtu.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @dtu.lastName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dtu.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dtu.notes %>
</p>


<%= link_to 'Back', dtus_path %>